.constrained_image {
	height: 432px;
	width: auto;
}

.constrained_video {
	height: 432px;
	width: auto;
}

body {
    font-family: 'Tiny5', serif;
    font-weight: 600;
}

.tiny5-regular {
	font-family: "Tiny5", serif;
	font-weight: 400;
	font-style: normal;
  }
  
  