.header_div	{
	display: flex;
	flex-direction: row;
	justify-content: center;
	color: white;
	width: 1103.41px;
	height: 29.46px;
	margin-top: 35.02px;
	margin-left: 171.59px;
	position: relative; /* make container relative, and position insides at absolute */
}

.header_logo {
	position: absolute; /* same as above comment, set the inside content to absolute */
	/* then take the top and left from Figma, and apply here */
	left: 0px; /* changed to 0px since the parent container is already where it needs to be */
	width: 167.02px;
	height: 29.46px;
	

}

.body {
	justify-content: center;
	background-image: url("images/pic_1.jpg");
	background-repeat: no-repeat;
	width: 1440px;
	height: 1093px;
}

.banner {
	display: flex;
	flex-direction: column;
	margin-top: 0px;
	width: 1440px;
	height: 1093px;

	justify-content: center;
	color: white;
}

.register_section {
	margin-top: 0px;
	text-align: center;
	justify-content: center;
	font-weight: 700;
	font-size: 16px;
}

.get_schooled {
	font-weight: 700;
	font-size: 120px;
}

.learn_from_pros {
	text-align: center;
	justify-content: center;
	margin-top: 40px;
	width: 100%;
	font-family: Source Sans Pro;
	font-weight: 400;
	font-size: 16px;

}

.profile_images	{
	justify-content: center;
	display: flex;
	flex-direction: row;
}

.profile_image {
	width: 150px;
	height: 150px;
	border-radius: 50%;
}

.button_1 {
	background-color: #C271FF;
	color: white;
	width: 162px;
	height: 44px;
	border-radius: 22px;
	border: none;
	
}

.quote_section {
	display: flex;
	justify-content: center;
	width: 1440px;
	height: 392px;
	background-color: #C271FF;
	color: white;
}

.quote_img {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	margin-right: 20px;
}

.quote_div {
	display: flex;
	color: white;
	padding: 20px;
	align-items: center;
	text-align: left;
}

.video_section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 1440px;
	height: auto;
	background-color: #ffffff;
	color: #071629;
	align-items: center;
}

.h1_videos {
	text-align: center;
	justify-content: center;
	font-weight: 300;
	font-size: 32px;
	color:  #071629;
	margin-bottom: 20px;
}

.video_div {
	display: flex;
	flex-direction: row;
	color: #071629;
	width: 1228px;
	height: 450px;
	height: auto;
	padding: 20px;
	text-align: left;
}


.smile_imgs {
	width: 255px;
	height: 154px;
}

.little_portraits {
	width: 30px;
	height: 30px;
	border-radius: 50%;
}

.stars {
	width: 15px;
	height: 15px;
}

.members_section {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 1440px;
	height: 502px;
	background-color: #071629;
	;
	color: #071629;
	align-items: center;
}

.h1_members {
	text-align: center;
	justify-content: center;
	font-weight: 300;
	font-size: 32px;
	color:  white;
	margin-bottom: 20px;
}

.members_div_container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 257px;
	height: 153px;
}
.members_div {
	display: flex;
	flex-direction: column;
	color: white;
	justify-content: center;
	margin-top: 168px;
	margin-left: center;
	text-align: center;
	padding: 60px;
}

.button_2 {
	background-color: #C271FF;
	color: white;
	width: 162px;
	height: 44px;
	border-radius: 22px;
	border: none;
	margin-top: auto;
	margin-left: center;
	margin-bottom: 20px;
	align-items: center;
	justify-content: center;
}

.faq_section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 1440px;
	height: auto;
	background-color: #ffffff;
	color: #071629;
	align-items: center;
}

.faq_header {
	text-align: center;
	justify-content: center;
	font-weight: 300;
	font-size: 60px;
	color:  #071629;
	margin-bottom: 20px;
	width: 136px;
	height: 75px;
}

.faq_h2 {
	text-align: left;
	justify-content: center;
	font-weight: 700;
	font-size: 16px;
	color:  #071629;
	margin-bottom: 20px;
}

.faq_p {
	text-align: left;
	white-space: normal;
	margin-top: 50px;
	justify-content: center;
	font-weight: 400;
	font-size: 16px;
	color:  #071629;
	width: 350px;
	height: 192px;
}

.faq_container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #071629;
	width: 920px;
	height: 707;
	padding: 20px;
	text-align: left;
}

.faq_row1 {
	display: flex;
	flex-direction: row;
	color: #071629;
	width: 1228px;
	height: auto;
	padding: 0px;
	text-align: left;
	margin-left: ;
}

.faq_row2 {
	display: flex;
	flex-direction: row;
	color: #071629;
	width: 1228px;
	height: auto;
	padding: 0px;
	text-align: left;
}

.footer {
	background-color: #071629;
	width: 1440px;
	height: 249px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.footer_logo {
	display: flex;
	margin-left: 165px;
	align-items: center;
}

.footer_links {
	display: flex;
	margin-right: 165px;
	align-items: center;
}

.copyright {
	width: 1440px;
	height: 30px;
	color: rgb(132, 125, 125);
	background-color: #071629;
	align-items: center;
	text-align: center;
	margin-top: 0px;
	font-weight: 400;
	font-size: 12px;
}