.header_div	{
	width: 1103.41px;
	height: 29.46px;
	margin-top: 35.02px;
	margin-left: 171.59px;	
}

.header_logo {

}

.banner {
	background-image: url("images/pic_1.jpg");
	width: 1440px;
	height: 1093px;
	color: white;
}
.footer {
	background-color: #071629;
}