.header_div	{
	display: flex;
	flex-direction: row;
	justify-content: center;
	background-color: #071629;
	color: white;
	width: 1440px;
}

.header_logo {

}

.banner {
	display: flex;
	flex-direction: column;
	margin-top: 0px;
	background-image: url("images/pic_1.jpg");
	width: 1440px;
	height: 1093px;

	justify-content: center;
	color: white;
}

.register_section {
	margin-top: 0px;
	text-align: center;
	justify-content: center;
	font-weight: 700;
	font-size: 16px;
}

.get_schooled {
	font-weight: 700;
	font-size: 120px;
}

.learn_from_pros {
	text-align: center;
	justify-content: center;
	margin-top: 40px;
	width: 100%;
	font-family: Source Sans Pro;
	font-weight: 400;
	font-size: 16px;

}

.profile_images	{
	justify-content: center;
	display: flex;
	flex-direction: row;
}

.profile_image {
	width: 150px;
	height: 150px;
	border-radius: 50%;
}

.button_1 {
	background-color: #C271FF;
	color: white;
	width: 162px;
	height: 44px;
	border-radius: 22px;
	border: none;
	
}

.footer {
	background-color: #071629;
}

.quote_section {
	display: flex;
	justify-content: center;
	width: 1440px;
	height: 392px;
	background-color: #C271FF;
	color: white;
}

.quote_img {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	margin-right: 20px;
}

.quote_div {
	display: flex;
	color: white;
	padding: 20px;
	align-items: center;
	text-align: left;
}

.video_section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 1440px;
	height: 392px;
	background-color: #ffffff;
	color: #071629;
}

.h1_videos {
	text-align: center;
	font-weight: 300;
	font-size: 32px;
	color:  #071629;
	margin-bottom: 20px;
}

.video_div {
	display: flex;
	color: #071629;
	width: 1228px;
	height: 450px;
	height: auto;
	padding: 20px;
	justify-content: center;
	text-align: left;
}


.smile_imgs {
	width: 255px;
	height: 154px;
}

.little_portraits {
	width: 30px;
	height: 30px;
	border-radius: 50%;
}

.stars {
	width: 15px;
	height: 15px;
}
